<h1>Latest Hacker News Stories</h1>

<p *ngIf="!lateststories"><em>Loading...</em></p>

<table class='table' *ngIf="lateststories">
  <thead>
    <tr>
      <th>Title</th>
      <th>By</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lateststory of lateststories">
      <td>
        <a *ngIf="lateststory && lateststory?.url; else elseBlock" href="{{ lateststory.url }}">{{ lateststory?.title || 'Not Available'}}</a>
        <ng-template #elseBlock>{{ lateststory?.title || 'Not Available'}}</ng-template>
      </td>
      <td>{{ lateststory?.by || 'Not Available' }}</td>
    </tr>

  </tbody>
</table>
